
@font-face {
  font-family: "VulfMonoItalic";
  src: url("../fonts/VulfMonoDemo-Italic.otf") format("opentype");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "VulfMonoLightItalic";
  src: url("../fonts/VulfMonoDemo-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "VulfMono";
  src: url("../fonts/VulfMonoDemo-Regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "FiraCode";
  src: url("../fonts/FiraCode-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FiraCodeLight";
  src: url("../fonts/FiraCode-Light.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "FiraCodeBold";
  src: url("../fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

/* ensure all headings use that font */
h1 {
  font-family: "VulfMonoLightItalic", var(--font-sans);
  font-style: italic;
  font-weight: inherit;
  color: rgb(203, 107, 28);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "FiraCode", var(--font-sans);
  font-weight: inherit;
  color: var(--color-neutral);
}

p, a{
  font-family: "FiraCode", var(--font-sans);
  color: var(--color-neutral);
}

a {
  font-family: "FiraCodeBold", var(--font-sans);
}

a:hover {
  font-family: "FiraCodeBold", var(--font-sans);
  text-decoration: underline;    
  text-decoration-style: wavy;
  text-decoration-thickness: 0.085em;
  color: rgb(203, 107, 28);
}

.main-menu a {
  font-family: "FiraCode", var(--font-sans);
}

.shrink {
  color: rgb(203, 107, 28);
}

a.shrink {
  color: rgb(203, 107, 28);
  font-family: "VulfMonoLightItalic", var(--font-sans);
  font-style: italic;
  font-weight: inherit;
}
