
@font-face {
  font-family: "VulfMonoLightItalic";
  src: url("../fonts/VulfMonoDemo-LightItalic.otf") format("opentype");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "FiraCode";
  src: url("../fonts/FiraCode-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "FiraCodeLight";
  src: url("../fonts/FiraCode-Light.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "FiraCodeBold";
  src: url("../fonts/FiraCode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "IBMSelectricLightItalic";
  src: url("../fonts/IBM_Selectric_Light_Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 100;
  font-display: swap;
}

/* Decrease the default font size */
html {
  font-size: 10pt;
}

/* ensure all headings use that font */
h1 {
  font-family: "VulfMonoLightItalic", "IBMSelectricLightItalic";
  font-style: italic;
  font-weight: inherit;
  font-size: 3em; /* Selectric is really small for some reason ! */
  text-transform: uppercase; 
  color: rgb(203, 107, 28);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "FiraCode", var(--font-sans);
  font-weight: inherit;
  color: var(--color-neutral);
}

p, a{
  font-family: "FiraCode", var(--font-sans);
  color: var(--color-neutral);
}

a {
  font-family: "FiraCodeBold", var(--font-sans);
}

a:hover {
  font-family: "FiraCodeBold", var(--font-sans);
  text-decoration: underline;    
  text-decoration-style: wavy;
  text-decoration-thickness: 0.085em;
  color: rgb(203, 107, 28);
}

.main-menu a {
  font-family: "FiraCode", var(--font-sans);
}

.shrink {
  font-family: "IBMSelectricLightItalic";
  text-transform: uppercase; 
  font-size: 1.5em;
}

a.shrink {
  font-family: "VulfMonoLightItalic", "IBMSelectricLightItalic";
  text-transform: uppercase; 
  font-weight: inherit;
}
